.container {
  padding-top: 40px;
}
.weather-app {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
  border: 0.5px solid;
  border-radius: 10px;
  border-color: #f0f8ff;
  background-color: #adbabf40;
}

.weather-app h1 {
  font-size: 40px;
}

.weather-app .temperature {
  font-size: 40px;
}

.weather-app .description {
  font-size: 40px;
  margin-bottom: 0;
  text-transform: capitalize;
}
.weather-app ul {
  margin: 0;
  padding-left: 7px;
}
.weather-app li {
  list-style: none;
  font-size: 19px;
  margin: 0px;
  padding: 0px;
}
